button{
  margin: 10px 9px 9px 7px;
}
.fa{
  margin:0px 5px;
}
.top-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  z-index: 9;
  background:darkcyan;
  border-top: 1px solid #0F4571;
  border-bottom: 1px solid #0F4571;
}

a.nav-link {
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 10px 1px 10px 0px;
  text-decoration: none;
  border-bottom: 1px solid transparent;}
a.nav-link:hover {
  color: #0F4571;
  border-bottom: 2px solid white;
  border-bottom-left-radius:0px;}

/*Navbar toggle*/
 .top-nav .navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #000;
}
 .top-nav .navbar-toggler span + span {
  margin-top: 4px;
}
/**/
