
<nav class="header top-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg ">
        <!-- Mobile Toggle -->
        <button class="navbar-toggler hidden-lg-up"
                type="button"
                data-toggle="collapse"
                data-target="#nav-toggle"
                aria-controls="nav-toggle"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <a class="navbar-brand ti-home " href="#"></a>
        <div id="nav-toggle" class="collapse navbar-collapse navbar-nav ml-auto">
          <a routerLink="../home" class="nav-link ">Home</a>
          <a class="nav-link" routerLink="../nutritionsearch">Nutrition Search</a>
        </div>
      </nav>
    </div>
</nav>
