<br><br><br>
<div id="search_bar">
  <div class="container border">
    <div class="row justify-content-center align-items-center">
      <div id="column" class="col-auto">
        <div class="col-auto" [hidden]="submitted">
          <form (ngSubmit)="onSubmit()" id="searchForm" class="form" action="" method="post">
            <h3 class="text-center text-info">Nutrition Search</h3>
            <div class="mt-3"></div>
            <div class="form-group">
              <label for="term">Search for food:</label><br>
              <input type="text" class="form-control" id="term" size="45"
                     required
                     [(ngModel)]="term.term" name="term" #term="ngModel">
            </div>
            <div id="browse_app">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<div id="results_section">
  <div class="container border">
    <div class="row justify-content-center align-items-center">
      <div id="column2" class="col-auto">
        <div class="col-auto" *ngIf="result">
          <form class="form" action="" method="post">
            <h3 class="text-center text-info">Search Results</h3><br><br>
            <h5 class="text-left text-info" align="left">Food Searched:{{term.term}}</h5>
            <h5 class="text-left text-info" align="left">Calories: {{result}}<</h5>
            <h5 class="text-left text-info" align="left">Serving Weight (in grams): </h5>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>>
