body{
   // background-color: gainsboro !important;
    background-image: url("img/background.png")!important;
}

#centralized {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 70%;
  left: 50%;
  margin: -100px 0 0 -150px;

}

.hidden{
	display:none;
}




















