<br>
<div id="search" >
  <div class="container border">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <div class="col-auto">
          <br>
            <h3 class="text-center text-info">Please write down the name of the food that you want to get information about</h3>
            <div>
              <label for = "food-name" class="text-info">Food Name:</label><br>
              <input type="text" name="food-name" id="food-name" class="form-control">
            </div>
            <br>
            <div>
              <button class="btn btn-info btn-md" (click)="getNutrition()">Submit</button>
              <button class="btn btn-info btn-md" (click)="show()">show</button>
            </div>
            <br>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="result">
  <div class="container border">
    <div class="row justify-content-center align-items-center">
      <div class="col-auto">
        <div class="col-auto">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Required Information</th>
              <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Calories</td>
              <td>{{result.hits[0].fields.nf_calories}}</td>
            </tr>
            <tr>
              <td>Serving weight in grams</td>
              <td>{{result.hits[0].fields.nf_serving_weight_grams}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

