/* Header
-------------------------------------*/
header {
  position: relative;
  overflow: hidden;
}

header .carousel{
  position: relative;
  height: 747px;
  width: 100%;
}

#registration {
  margin: 0 0 0 0 ;
}
