<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List of Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-button routerLink="/service1" fill="solid" expand="block" color="dark">Knowledge Graph Search</ion-button>
  <ion-button routerLink="/service2" fill="solid" expand="block" color="danger">Weather </ion-button>
  <br>
  <ion-button routerLink="/update" fill="solid" expand="block" color="danger">Update </ion-button>
  <ion-item>
    <label>{{Date}}</label>
  </ion-item>
</ion-content>
